---
const { title, subtitle, boldSubtitle, behaviour, status = "", statusColor = "grey-50", parent, parentStyle, colorOverride = "" } =
  Astro.props;

const overrideColorStyle = colorOverride == "" ? "text-wrap: balance;" : "text-wrap: balance;color: " + colorOverride;
---
<header class:list={[parent + parentStyle]}>

  {!behaviour && 
  <>
  </>
  }

{behaviour === 'Page' && 

<div class="w-full">
  <h1 set:html={title} style={overrideColorStyle} 
    class="prose font-bold text-4xl md:text-5xl leading-tight pb-5" />
</div>

}

{behaviour === 'Section' && 

<div class="w-full">
  <div class="" set:html={Astro.props.boldSubtitle} />
  <h3 set:html={subtitle} style={overrideColorStyle} 
    class="prose font-thin text-gray-400 text-3xl md:text-4xl lg:text-5xl lg:leading-tight" />
  <div>
    <h1 set:html={title} style={overrideColorStyle} 
    class="prose font-normal lg:font-thin text-4xl md:text-5xl lg:text-6xl lg:leading-tight" />
  </div>
</div>

}

{behaviour === 'Hero' && 

<div set:html={boldSubtitle}
  class="font-bold uppercase" />
<h3 set:html={subtitle} 
  class="prose font-thin text-3xl md:text-2xl xl:text-5xl text-gray-400 xl:leading-tight mt-3 mb-2" />
<h2 set:html={title} 
  class="prose text-inherit font-thin text-4xl md:text-3xl xl:text-6xl xl:leading-tight mb-10 md:mb-5 xl:mb-20" />

}

{behaviour === 'Promo' && 

<h2 set:html={title} style={overrideColorStyle} 
  class="prose font-bold text-4xl" />
  <h3 set:html={subtitle}
  class="prose font-light text-4xl uppercase text-gray-400 mt-5 mb-10" />
}
</header>

<style>
  .heroLargeDark  {
    @apply text-white;
  }
</style>
