---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { TypePage } from '@types/TypePage';
import '../styles/global.css';
import * as Contentful from "contentful";
import { TypeContentSection } from '@types/TypeContentSection';

export interface Props {
	page:Contentful.Entry<TypePage>,
	section:Contentful.Entry<TypeContentSection>
}

const { page, section } = Astro.props;

let metaTitle = page.fields.metaTitle !== '' && page.fields.metaTitle ? page.fields.metaTitle : page.fields.title;
let metaDescription = page.fields.metaDescription !== '' && page.fields.metaDescription ? page.fields.metaDescription : page.fields.description;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{metaTitle}</title>
<meta name="title" content={metaTitle} />
<meta name="description" content={metaDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={metaTitle} />
<meta property="og:description" content={metaDescription} />
<meta property="og:image" content={new URL("", Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={metaTitle} />
<meta property="twitter:description" content={metaDescription} />
<meta property="twitter:image" content={new URL("", Astro.url)} />
