---
export interface Props{
  image: string;
  title: string;
  subtitle: string;
  boldSubtitle: string;
  content: string;
  contentBehaviour: string;
}

const { image, title, subtitle, boldSubtitle, content, contentBehaviour } = Astro.props;
---


<section class="">
  <div class={'hero-' + contentBehaviour + '-wrapper'}>
    <div class={'hero-' + contentBehaviour + '-image'}>
      <figure>
        <img class="w-full" src={image} />
      </figure>
    </div>
    <div class={'hero-' + contentBehaviour + '-text'}>
      <div class="h-full flex flex-col justify-center ">
        <div class="text-white mb-10 font-bold uppercase" set:html={boldSubtitle} ></div>
        <h3 class="max-w-full font-thin text-gray-400" set:html={subtitle}></h3>
        <div class="text-white">
          <h2 class="font-light" set:html={title} ></h2>
          <div set:html={content} ></div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  h2 {
    @apply text-4xl md:text-4xl lg:text-[64px] lg:leading-[75px] mb-10 md:mb-12 lg:mb-20
  }
  
  h3 {
    @apply text-3xl md:text-[28px] lg:text-[40px] lg:leading-tight mb-2 md:mb-2 lg:mb-1
  }
  
  .hero-left-image{
    @apply w-full md:flex-grow order-2 z-0
  }
  .hero-left-text{
    @apply pt-10 pb-10 pl-[24px] pr-[24px] lg:pl-16 lg:pr-16 bg-gray-900 md:bg-opacity-50 md:w-6/12 md:-mr-[50%] order-1 z-10
  }
  .hero-left-wrapper{
    @apply bg-black md:flex md:flex-row
  }
  .hero-right-image{
    @apply w-full md:flex-grow md:-mr-[50%] z-0 
  }
  .hero-right-text{
    @apply pt-10 pb-10 pl-[24px] pr-[24px] lg:pl-16 lg:pr-16 bg-gray-900 md:bg-opacity-50 md:w-6/12 z-10
  }
  .hero-right-wrapper{
    @apply bg-black md:flex md:flex-row
  }
  </style>