---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "styles/global.css";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import { htmlToText } from "html-to-text";
import type { TypePage, TypeSection } from "types/contentful/index";
import { ChainModifiers, EntrySkeletonType, LocaleCode } from "contentful/dist/contentful.browser.min.js";

interface Props {
	page: EntrySkeletonType;
	section?: EntrySkeletonType;
}

const { page, section } = Astro.props;

let sectionMetaTitle, sectionMetaDescription;

if (section !== null && section) {
	sectionMetaTitle =
		section.fields.metaTitle != ""
			? section.fields.metaTitle
			: section.fields.title;
	sectionMetaDescription = section.fields.metaDescription;

	if (sectionMetaTitle !== "") sectionMetaTitle = " - " + sectionMetaTitle;
}

let metaTitle =
	page.fields.metaTitle !== "" && page.fields.metaTitle
		? page.fields.metaTitle
		: page.fields.title;

let metaDescription =
	page.fields.metaDescription !== "" && page.fields.metaDescription
		? page.fields.metaDescription
		: htmlToText(documentToHtmlString(page.fields.displaySummary));
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link
	rel="canonical"
	href={"https://www.aucklandmuseum.com/page/" + page.fields.slug}
/>
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{metaTitle}{sectionMetaTitle}- Auckland War Memorial Museum</title>
<meta name="title" content={metaTitle} />
<meta name="description" content={metaDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={metaTitle} />
<meta property="og:description" content={metaDescription} />
<meta property="og:image" content={new URL("", Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={metaTitle} />
<meta property="twitter:description" content={metaDescription} />
<meta property="twitter:image" content={new URL("", Astro.url)} />

<link
	rel="preload"
	href="/fonts/GothamNarrow-Light.woff2"
	as="font"
	type="font/woff2"
	crossorigin="anonymous"
/>
<link
	rel="preload"
	href="/fonts/GothamNarrow-Book.woff2"
	as="font"
	type="font/woff2"
	crossorigin="anonymous"
/>
<link
	rel="preload"
	href="/fonts/GothamNarrow-Medium.woff2"
	as="font"
	type="font/woff2"
	crossorigin="anonymous"
/>
